
<!DOCTYPE html>
<html>

<head>


    %include templates/parts/head.html

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/parts/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/parts/sideBarButton.html
            
            <div class="page">    
                <h1>For-loop</h1>
                <hr/>

                <p>A for-loop repeats code for a specified number of times. For example, here's the code you could write to print "Python rocks socks!" 100 times:  

                <pre class="language-python"><code> for i in range(100): 
   print("Python rocks socks!")
</code></pre>
                
                <p> What does the <code>i</code> in the for-loop mean? </p>

                <p> <code>i</code> is a variable that keeps track of how many times the loop has run. In our loop above, <code>for i in range(100) </code> means that at the start of the loop, <code>i</code> is 0. Each time the for-loop runs, <code>i</code> increases by 1 and keeps going while <code>i</code> is less than 100. Once <code>i</code> reaches 100, the loop stops running.</p>

                <p> Here's the equivalent of the for-loop above, written as a while-loop: </p>
                                <pre class="language-python"><code>i = 0
while i < 100: 
   print("Python rocks socks!")
   i += 1

</code></pre>
				<p> Now that we know that <code>i</code> is a variable, we can see how we can use the variable <code>i</code> inside our for-loop. For example, here's how we can print even numbers: </p>
				

				<pre class="language-python"><code> for i in range(3): 
   print(i * 2)
</code></pre>

				<p> Here's another way to print even numbers: </p>
				<pre class="language-python"><code> for i in range(0, 6, 2): 
   print(i)
</code></pre>
				<p> <code> for i in range(0, 6, 2)</code> says: i goes from 0 to 6, counting by 2 each time</p>



                %include templates/parts/footer.html
                
            </div>
        </div>
    </div>

</body>

</html>