
<!DOCTYPE html>
<html>

<head>


    %include templates/parts/head.html

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/parts/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/parts/sideBarButton.html
            
            <div class="page">    
                <h1>If-statement</h1>
                <hr/>

                <p>You use an if-statement if you only want some code to run if a certain condition is met. The condition is a boolean that evaluates to either true or false.</p>

                <pre class="language-python"><code> if condition: 
   body
</code></pre>
                <h2> Else </h2>
                <p> What happens if the condition is not met? You can use an <code> else </code> statement to specify what should happen only if the condition in the if-statement if False. </p>

                <p> For example, here is a program that asks the user to enter a number. The program will print out whether the number is equal to 0 or not. </p>

                <pre class="language-python"><code>num = int(input("Enter a number: "))
if num == 0: 
   print("That number is 0")
else: 
   print("That number is not 0")
</code></pre>


                
                <h2> If Else Revisited </h2>
                <p> <code> elif</code> is short for else if. </p>

                <p> Here's an example of how it's used: </p>
                <pre class="language-python"><code>num = int(input("Enter a number: "))
if num == 0: 
   print("Your number is 0")
elif num > 0:
   print("Your number is positive")
else:
   print("Your number is negative")

</code></pre>



                %include templates/parts/footer.html
                
            </div>
        </div>
    </div>

</body>

</html>