
<!DOCTYPE html>
<html>

<head>


    %include templates/parts/head.html

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/parts/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/parts/sideBarButton.html
            
            <div class="page">    
                <h1>Booleans</h1>
                <hr/>

                <p>A boolean is an expression that evaluates to either True or False. 

                Here is an example of a boolean expression:  <pre class="language-python"><code> 1 < 2</code></pre>
                
                <p> It asks the question: is the value on the left smaller than the value on the right?</p>

                <h2> Comparison Operators </h2>

                <p> To compare values in python, we can use <b> comparison operators </b>. </p>

                <p> Here are the <b>comprison operators</b>: </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Operator</th>
                            <th>Meaning</th>
                            <th>Example</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="min-width:100px"><code class="language-python">==</code></td>
                            <td>equals</td>
                            <td>1 + 1 == 2</td>
                            <td>True</td>
                        </tr>
                        <tr>
                            <td><code class="language-python">!=</code></td>
                            <td>does not equal</td>
                            <td>3.2 != 2.5</td>
                            <td>True</td>
                        </tr>
                        <tr>
                            <td><code class="language-python"> < </code></td>
                            <td>less than </td>
                            <td>10 < 5 </td>
                            <td>False </td>
                        </tr>
                        <tr>
                            <td><code class="language-python"> > </code></td>
                            <td>greater than</td>
                            <td>10 > 5</td>
                            <td>True</td>
                        </tr>
                         <tr>
                            <td><code class="language-python"> <= </code></td>
                            <td>less than or equal to</td>
                            <td>126 <= 100</td>
                            <td>False</td>
                        </tr> 
                         <tr>
                            <td><code class="language-python"> >= </code></td>
                            <td>greater than or equal to</td>
                            <td>5.0 >= 5.0</td>
                            <td>True</td>
                        </tr>                                              
                    </tbody>
                </table>

                <p>We can use comparison operators to make conditions for if statements and while loops</p>

                <p> For example: </p>

                <pre class="language-python"><code>if 1 < 2: 
    print("1 is less than 2")
                </code></pre>

                <p> Here's another example: </p>

                <pre class="language-python"><code>num = int(input("Enter a number: "))
if num == 0: 
   print("That number is 0")
else: 
   print("That number is not 0")

                </code></pre>

                <h2> Logical Operators </h2>

                <p> Logical operators can be used to change or combine boolean statements.</p>

                <p> Here are the <b>logical operators</b>: </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Operator</th>
                            <th>Example</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="min-width:100px"><code class="language-python">not</code></td>
                            <td>not (2 == 3)</td>
                            <td>True</td>
                        </tr>
                        <tr>
                            <td><code class="language-python">and</code></td>
                            <td>(2 ==3) and (-1 < 5)</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code class="language-python"> or </code></td>
                            <td>(2 == 3) or (-1 < 5) </td>
                            <td>True </td>
                        </tr>                                              
                    </tbody>
                </table>



                <h2>Boolean Variables</h2>
                <p> Just like how you can have variables that store integer or string values, you can also have variables that store boolean values. </p>
                <pre class="language-python"><code># Store expressions that evaluate to True/False
x = 1 < 2    #True
y = 5.0 == 4.0    #False 

# Directly set to True/False 
is_sheltering = True
is_raining = False 

play_again = input('Play again? "y" or "n"') == 'y'
if play again: 
   ...
</code></pre>
                %include templates/parts/footer.html
                
            </div>
        </div>
    </div>

</body>

</html>