%rebase templates/parts/chapter.html

        <h1>Boolean Values</h1>
<hr/>

<p>The Boolean values in Python are <code>True</code> and <code>False</code>, typically used to control if-statements and while-loops.

<!-- https://en.wikipedia.org/wiki/George_Boole -->

<h1>Boolean And Or Not</h1>

<p>The Python "bool" type (short for "boolean") has only two values - <code>True</code> and <code>False</code>.
Expressions yielding a bool value like <code>a > 10</code>, can be combined with <b>and</b> <b>or</b> <b>not</b>, like following (printing 'yay' if a is in the range 0..100 inclusive):

<pre>
if a >= 0 and a <= 100:
    print('yay')
</pre>

<p>Python is unique in using the plain words like "and" for this. many languages use "&&" for and, "||" for or.

<p><code><i>a</i> and <i>b</i></code> &rarr; True if both are True

<p><code><i>a</i> or <i>b</i></code> &rarr; True if one or the other or both are True

<p><code>not <i>a</i></code> &rarr; Inverts True/False

<h2>Boolean Precedence </h2>

<p>There is "precedence" between and/or/not, analogous to arithmetic precedence, where "*" has higher precedence than "+".

<p>Precedence order: <code>not</code> is highest precedence, followed by <code>and</code>, followed by <code>or</code>. Mnemonic: <code>not</code> is like unary minus e.g. '-6', <code>and</code> is like * mutliplication, <code>or</code> is like + addition.

<p>Q: what does the following do:
<pre>
if a < 6 and b < 6 or c < 6:
</pre>


<p>The <code>and</code> goes first (higher precedence), so the above is equivalent to the following form with parenthesis added to show the order the comparisons are evaluated:
<pre>
if (a < 6 and b < 6) or c < 6:
</pre>


<p>To force the <code>or</code> to go first, put in parenthesis like this:
<pre>
if a < 6 and (b < 6  or c < 6):
</pre>

<p>If you are unsure, you can always add parenthesis to an expression to force the order you want.


<h2>Boolean Short-Circuit</h2>

<p>Suppose you have an int i, and you want to check if the char at that index is alphabetic .. but only if i is valid. You can write that this way...

<pre>
if i < len(s) and s[i].isalpha():...
</pre>

<p>This works because the boolean evaluation goes left to right, stopping ("short-circuiting") as soon as it can. So in the example above, if <code>i < len(s)</code> is False (i.e. i is large), the whole expression evaluates to False. In particular the <code>s[i].isalpha()</code> is <b>not evaluated</b>. Attempting to evaluate it would be an error, since i is too large, creating an IndexError.

<p>Writing the <code>i&lt;len(s)</code> test to the left of the <code>s[i]</code> in effect protects it, and this is a common programming pattern. Most computer languages use short circuiting in the their boolean expressions like this.

<hr/>