%rebase templates/parts/chapter.html
<h1>Python File Reading</h1>
<hr />

<p>
  Chances are if you've used a computer before, you've interacted with files.
  Files are a powerful way to store data, and in this class you will learn how
  to use files in Python to analyze data!
</p>

<h2>A brief review of dictionaries</h2>
<p>
  Dictionaries allow us to build <b> one-way </b> associations between one kind
  of data (which we call the <b> key </b>) and another (which we call the
  <b>value</b>). A common metaphor for them is a phone book, whose keys are
  people’s names and whose values are their phone numbers. It’s super easy to
  look someone’s number up if you know their name, but harder to do it the other
  way around.
</p>

<pre
  class="language-python"
><code>>>> d = {}             # make an empty dictionary
>>> d['brahm'] = 42    # associate the key ‘brahm’ with the value 42
>>> d['julie'] = 5     # associate the key ‘julie’ with the value 5
>>> d['julie'] = 8     # change the value for ‘julie’ to be 8
                       # since keys need to be unique

>>> d['brahm']         # get the value associated with ‘brahm’ 
42
>>> 'python' in d      # check whether a particular key is in the map
False
</code></pre>

<h2>What is a file?</h2>

<p>
  The following pictures represent how files on your computer look like on Mac,
  Windows, and Ed:
</p>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vRCukEMsVNWn_2vY-hMKWlJ5zwtcNLEkqxL0YPKhYKBC-fgkJYY7xNC5IDI9Tn4Fk8Pv9SALteyKaTz/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<p>
  When you edit a word document, the program Microsoft Word is opening the file
  essay.docx. When you watch a video on your computer, the program VLC is
  opening the file Avengers: Endgame.mp4. When you listen to a song, the program
  iTunes is opening the file Thriller.mp3.
</p>

<p>
  You've also used files before, in Python. For example, when you write the line
  of code <code>img = SimpleImage("buddy.jpg") </code>, you are opening a file
  titled buddy.jpg. When you type <code>python3 program.py </code> into your
  terminal, the program python3 is opening the file program.py
</p>

<p>
  Files are used to store text, python programs, audio, video, and more. In your
  computer, all files are stores as a series of 0s and 1s.
</p>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vRKIwNUYiOVV0vSE_sF70KJeZnzjqrfEb1RD8ww4D4wXo3Do2wmaimpnS12eFjTsO7HGgukpZ-vlfCC/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<p>
  In this class, we will focus on text files, which store data that you can
  read. There are a few types of text files. A .txt file stores text. A .csv
  file (short for Comma Separated Values), stores text separated by commas,
  which can be structured into a table. A .json file stores data that is
  structured like a dictionary or list.
</p>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vTiQzmLzYoEFi-wBXcECzXE3nwq1GMcSK7zroJ5T9qN3SKLWZmFaDpsdsXXAXI0KP-SlY6khF5TcSBq/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<h2>Reading a file in Python</h2>

<table style="width: 100%; border: 1px solid black">
  <tr style="width: 100%; border: 1px solid black">
    <th style="width: 100%; border: 1px solid black">print_poem.py</th>
    <th style="width: 100%; border: 1px solid black">invictus.txt</th>
  </tr>
  <tr style="width: 100%; border: 1px solid black">
    <td style="width: 100%; border: 1px solid black">
      <pre class="language-python"><code>f = open(‘invictus.txt’)
for line in f:
	# process the line
f.close()</code></pre>
    </td>
    <td style="width: 100%; border: 1px solid black">
      <pre>
 Out of the night that covers me,
      Black as the pit from pole to pole,
I thank whatever gods may be
      For my unconquerable soul.
.
.
.
I am the master of my fate,
      I am the captain of my soul.

'Invictus', by William Ernest Henley
</pre
      >
    </td>
  </tr>
</table>

<h3>Reading a file in Python: Newlines</h3>

<p>
  Computers don’t know that lines are shown below one another in a file. They
  store all the lines in a file in one continuous block and separate the lines
  with a special <b>newline character</b>, <code>\n</code>.
</p>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vQAd1UvlQId_ZF6-anbqqHPf3kgYbXdYW6NQtQqDBA1cKhA8HIRJYDkxNESCl3HeHfHztd_DL60tx7Q/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<h2>The file-reading loop</h2>

<p>
  This is the canonical loop used to read a file. <code>.strip()</code> removes
  whitespace from each line.
</p>

<pre class="language-python"><code>with open(filename) as f:
for line in f:
	line = line.strip()  # or strip("\n"), lstrip(), rstrip() 
	# process line</code></pre>

<p>
  To skip a line in the file, you can use the function
  <code>next(filename)</code>. Here is the code to skip the first line of a
  poem:
</p>

<pre class="language-python"><code>f = open(‘invictus.txt’)
next(f)
for line in f:
	# process the line
f.close()</code></pre>

<h2><code>.read()</code> and <code>.readlines()</code></h2>
<p>
  <code>.read()</code> and <code>.readlines()</code> are two other ways to read
  files. <code>.read()</code> reads the entire file into a string, and
  <code>.readlines()</code> reads the each line of the file, ending with a \n,
  into a list.
</p>

<pre class="language-python"><code>with open(filename) as f:
   lines = f.readlines() #This reads the entire contents of the files into a string, including the \n newline characters

with open(filename) as f:
   lines = f.readlines() #This reads each line of a file (ending with a \n character) into a list
</code></pre>

<p>
  A gentle warning: f.read() and f.readlines() are handy, but shouldn’t be your
  first resort. If you try to read really big files, that takes up a lot of your
  computer’s memory, which you should try to avoid. You generally won’t need the
  contents of the entire file as a string or list, anyway.
</p>

<h2>Writing to Files</h2>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vQzMnDvtYO-jkN8HmHgbI-gEqz8HQCTvSR8HNuzmZFFPvLYy1DL0vIwgXp6vnX6VsTgZumErhed71Qt/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<h2>Visualizing Data</h2>

<p>
  With everything you've learned in this course, you can now put it all together
  to write a program that visualizes data! In
  <a href="https://www.youtube.com/watch?v=Fj-qt6neUog" style="color: blue">
    this example here, watch Brahm write a program that visualizes the
    population of cities in different countries.
  </a>
</p>

<p>To do so, Brahm makes use of .csv files</p>

<p>Looping through a <code> csv.reader </code> splits by commas for you</p>
<table style="width: 100%; border: 1px solid black">
  <tr style="width: 100%; border: 1px solid black">
    <th style="width: 100%; border: 1px solid black">USA.csv</th>
    <th style="width: 100%; border: 1px solid black">plot_countries.py</th>
  </tr>
  <tr style="width: 100%; border: 1px solid black">
    <td style="width: 100%; border: 1px solid black">
      <pre>
City,Latitude,Longitude,Population
New York,40.6943,-73.9249,18713220
Los Angeles,34.1139,-118.4068,12750807
Chicago,41.8373,-87.6862,8604203
Miami,25.7839,-80.2102,6445545
Dallas,32.7936,-96.7662,5743938
Philadelphia,40.0077,-75.1339,5649300
Houston,29.7863,-95.3889,5464251
.
.
.
</pre
      >
    </td>
    <td style="width: 100%; border: 1px solid black">
      <pre class="language-python"><code>import csv

def plot_country():
	with open("USA.csv") as f:
		next(f)
		reader = csv.reader(f)

		for line in reader:
			lat = float(line[1])
			lon = float(line[2])
</code></pre>
    </td>
  </tr>
</table>

<p>
  Looping through a <code>csv.DictReader</code> and gives you back each line as
  a dictionary whose keys are column names and whose values are that column’s
  value for that particular row
</p>
<table style="width: 100%; border: 1px solid black">
  <tr style="width: 100%; border: 1px solid black">
    <th style="width: 100%; border: 1px solid black">USA.csv</th>
    <th style="width: 100%; border: 1px solid black">plot_countries.py</th>
  </tr>
  <tr style="width: 100%; border: 1px solid black">
    <td style="width: 100%; border: 1px solid black">
      <pre>
City,Latitude,Longitude,Population
New York,40.6943,-73.9249,18713220
Los Angeles,34.1139,-118.4068,12750807
Chicago,41.8373,-87.6862,8604203
Miami,25.7839,-80.2102,6445545
Dallas,32.7936,-96.7662,5743938
Philadelphia,40.0077,-75.1339,5649300
Houston,29.7863,-95.3889,5464251
.
.
.
</pre
      >
    </td>
    <td style="width: 100%; border: 1px solid black">
      <pre class="language-python"><code>import csv

def plot_country():
	with open("USA.csv") as f:
		reader = csv.DictReader(f)

		for line in reader:
			lat = float(line[‘Latitude’])
			lon = float(line[‘Longitude’])
</code></pre>
    </td>
  </tr>
</table>

<p>
  A <code>csv.writer</code> allows you to write rows as lists of data, without
  worrying about things like \n characters
</p>
<table style="width: 100%; border: 1px solid black">
  <tr style="width: 100%; border: 1px solid black">
    <th style="width: 100%; border: 1px solid black">data.csv</th>
    <th style="width: 100%; border: 1px solid black">plot_countries.py</th>
  </tr>
  <tr style="width: 100%; border: 1px solid black">
    <td style="width: 100%; border: 1px solid black">
      <pre>
x,y
1,2
2,4
4,6
</pre
      >
    </td>
    <td style="width: 100%; border: 1px solid black">
      <pre class="language-python"><code>import csv

def write_data():
	with open("data.csv", "w") as f:
		writer = csv.writer(f)
		writer.writerow(["x", "y"])
		writer.writerows([
			[1,2],
			[2,4],
			[4,6]
		])
</code></pre>
    </td>
  </tr>
</table>

<p>
  A <code>csv.DictWriter</code> allows you to write rows as dictionaries of
  data, without worrying about things like \n characters
</p>
<table style="width: 100%; border: 1px solid black">
  <tr style="width: 100%; border: 1px solid black">
    <th style="width: 100%; border: 1px solid black">data.csv</th>
    <th style="width: 100%; border: 1px solid black">plot_countries.py</th>
  </tr>
  <tr style="width: 100%; border: 1px solid black">
    <td style="width: 100%; border: 1px solid black">
      <pre>
x,y
1,2
2,4
4,6
</pre
      >
    </td>
    <td style="width: 100%; border: 1px solid black">
      <pre class="language-python"><code>import csv

def write_data():
	with open("data.csv", "w") as f:
		columns = [‘x’, ‘y’]
		writer = csv.DictWriter(f)
		writer.writeheader(fieldnames=columns)
		writer.writerow({‘x’: 1, ‘y’: 2})
		writer.writerow({‘x’: 2, ‘y’: 4})
writer.writerow({‘x’: 4, ‘y’: 6})
</code></pre>
    </td>
  </tr>
</table>

<h2>JSON Files</h2>
<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vS39da7C49z6_UCB-1x5feZrIa3GvUecx6zTK3fle4atoUt-YFaRBjpbaREK7Ef011sJBzfEafXkI6e/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="960"
  height="569"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>

<!-- <p>Python makes it easy to read the data out of a text file. There are a few different forms, depending on if you want to process the file line by line or all at once.

<p>Here is the easiest code to open a file, read all the lines out of it, handling one line at a time.

<pre>
for line in <b>open(filename)</b>:
    # look at line in loop
    print(line.strip()) # strip removes white space at the start and end of the string
</pre>

<p>Notice the open function. That reads a file and the for-each loop accesses the contents of the file one line at a time. The open function can also be written this way: <code>open(filename, 'r')</code> where the 'r' means reading. Reading mode is the default, so the 'r' can be omitted as above. The mode <code>'w'</code> is for file writing, shown below.

<p>When reading lines out of a file, each line has a '\n' char at its end.
The lines from the file are fundamentally <b>text</b>. Use functions like int() to convert text to int:

<pre>
>>> line = '123\n'   # line is textual
>>> int(line)        # Compute int value
123
</pre>

<p>Use s.split() with a parameter to separate one line into parts, like this:

<pre>
>>> line = 'apple,12,donut\n'
>>> line.split(',')  # note ',' param
['apple', '12', 'donut\n']
</pre>

<p>Use s.strip() to remove whitespace

<pre>
>>> line = '   this   \n'
>>> line.strip()
'this'  
</pre>

<p>The advantage of processing 1 line at a time is that it does not require memory to hold every byte of the file at once. It's not uncommon to have a text file with millions of lines of data. With this form, only one line at a time must be stored in RAM, not all of the lines at once.

<h2><code>with</code> for cleanest file handling</h2>

<p>When you open a file, python doesn't always know exactly when is the right time to close the file up and allow other users on the computer to read and write to it. Often that doesn't matter, but in programs you write after this class it might matter. You can use a special <code>with</code> operator to make your code slightly more robust. It creates a code block and "closes" the file when the code block ends.

<pre>
with open(filename) as f:
    for line in f:
        # look at line in loop
        print(line.strip()) # strip removes white space at the start and end of the strings
</pre>    

<h2>Unicode Encoding</h2>

<p>The form <code>open(filename, encoding='utf-8')</code> can specify the encoding to use to interpret the text file as unicode.

<p>If reading a file crashes with a "UnicodeDecodeError", probably the reading code needs to specify an encoding as above. Try the 'utf-8' encoding first, as many files are encoded with it.

<h2>Other Ways To Read A File</h2>

<p>Suppose we have this 2 line file:

<pre>
Roses are red
Violets are blue
</pre>

<h2>2. text = f.read()</h2>

<p>(Can try these in >>> Interpreter, running Python3 in a folder that has a text file in it we can read, such as the "wordcount" folder.)

<p>Read the whole file into 1 string - less code and bother than going line by line. Handy if the code does not need to go line by line. Can use with split() to process the whole file at once. This will require memory in Python to store all of the bytes of the file. As an estimate, look at the byte size of the file in your operating system file viewer.

<pre>
with open(filename, 'r') as f:
    text = f.read()
    # Look at text str
</pre>

<p>In this example text is the string <code>'Roses are red\nViolets are blue\n'</code>

<p>The read() function is designed to be called <b>once</b>, and it returns the entire contents of the file. Do not call read() a second time; store the text string returned by the first call and use that.


<p>Recall the function s.split() with no parameters, splits on whitespace, returning a list of "words". Whitespace includes '\n', and the no-param form of split merges multiple whitespace chars together. 

<p>Therefore, split() works nicely with the whole text of a file, treating '\n' like just another whitespace char:

<pre>
text = 'Roses are red\nViolets are blue\n'
>>> text.split()
['Roses', 'are', 'red', 'Violets', 'are', 'blue']
</pre>

<p>So text = f.read() may be followed by a words = text.split(). Now we have a
list of words easily, and we do not bother with lines or looping.

<p>Demo - read the whole book into 1 string, split into words. Python looks powerful here.

<pre>
>>> with open('alice-book.txt') as f:
...   text = f.read()
>>> len(text)   # num chars,  len > 149,000 !
149103
>>> 
>>> text[:200]
"Alice's Adventures in Wonderland\n\n                ALICE'S ADVENTURES IN WONDERLAND\n\n                          Lewis Carroll\n\n               THE MILLENNIUM FULCRUM EDITION 3.0\n\n\n\n\n                     "
>>>
>>> words = text.split()
>>> len(words)  # num words
26963
>>> words[:20]
["Alice's", 'Adventures', 'in', 'Wonderland', "ALICE'S", 'ADVENTURES', 'IN', 'WONDERLAND', 'Lewis', 'Carroll', 'THE', 'MILLENNIUM', 'FULCRUM', 'EDITION', '3.0', 'CHAPTER', 'I', 'Down', 'the', 'Rabbit-Hole']
</pre>

<p>Conclusion: 3 lines of Python, can just have a list of all the words, ready for a loop or whatever.

<h2>3. lines = f.readlines()</h2>

<p>f.readlines() returns a list of strings, 1 for each line. Sometimes it's more useful
to have all the lines at once, vs getting them 1 at a time in the standard loop. Can slice etc. to control which lines we access.

<pre>
with open(filename, 'r') as f:
    lines = f.readlines()
    # use lines list lines[0], lines[1], ..
</pre>

<p>Here lines is <code>['Roses are red\n', 'Violets are blue\n']</code>. The lines list is analogous to the for-line-in-f loop, but in the form of a list.

<h2>What The "With" Does</h2>

<p>The <code>with open(...)</code> form automates closing the file reference when the code is done using it. Closing the file frees up some memory resources associated with keeping the file open. In older versions of Python (and in other languages) the programmer is supposed to call <code>f.close()</code> manually when done with the file. Here is an example of file reading written the old way:

<pre>
# old way to do it, call f.close() manually
f = open(filename)
...use f...
f.close()
</pre>

<p>Nowadays, using the <code>with open(..)</code> structure, code can concentrate on reading and the closing is automatic and we don't have to think about it.

<h2>File Writing</h2>

<p>File "writing" is the opposite direction of reading - taking data in Python and writing it out to a text file. The CS106a projects typically do lots of reading, which is the most common form.

<p>Here is example code writing to file (and you can try this in the interpreter). First specify <code>'w'</code> in the open(). Then call <code>print('Hello', file=f)</code> to print data out to the file as a series of text lines. This is the same <code>print()</code> function that writes to standard output, here used to write to the opened file.

<pre>
>>> with open('out.txt', 'w') as f:
...   print('Hello there', file=f)
...   print('Opposite or reading!', file=f)
</pre>

<p>After running those lines, a file <code>out.txt</code> now exists in the directory from which we ran Python:


<pre>
$ <b>cat out.txt</b>
Hello there
Opposite or reading!
</pre> -->

&nbsp;
