
<!DOCTYPE html>
<html>

<head>
    

    %include templates/parts/head.html

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        %include templates/parts/sideBar.html

        <!-- Page Content  -->
        <div id="content">

            %include templates/parts/sideBarButton.html
            
            <div class="page">    
                <h1>Python Introduction</h1>
                <hr/>

                <p>Python is an extremely popular computer language.
                Python is general purpose, good for solving
                many types of problems.

                <p>Compared to other languages Python is
                in the "programmer efficient" niche - allowing the programmer
                to specify what they want pretty easily, perhaps at the cost
                of running a little slower or using more memory.

                <p>The style of Python is minimal - don't require the programmer
                to type in a lot words. Mostly get out of the programmer's way.
                Python is designed to have a consistent style across the language.
                There is a thematic consistency in how its parts fit
                together across many situations.

                <h2>Open Source</h2>

                <p>Python is distributed for free as open source
                software. This means many people and organization
                contribute code to make Python work, and it is free
                for anyone to use.

                <p>The central web site for Python information
                is <a href=https://python.org>python.org</a>. Python was created in 1991 and for many
                years was run by
                Guido Van Rossum, who is kind of a rock star for creating
                such a world-influencing technology.

                <h2>Cross Platform</h2>

                <p>Python is cross-platform, meaning a python program
                developed on Mac OS X, can likely also run on Windows
                or Linux without any change to the code. When the Python code gets
                to the part where it, say, it wants to check the mouse location,
                running on Windows, it uses the Windows-specific mouse facility,
                and running on the Mac it uses the Mac-specific facility.
                In this way, the programmer is insulated from many platform-specific
                details and their code just works.

                <h2>Python Version 3</h2>

                <p>We will use Python version 3 in this course.
                Python version 3 made some changes vs. Python 2.x,
                in particular changing strings to be unicode, and the print() function
                to be a function. For the most part, Python 2.x code looks
                very similar to Python 3.x code. So working in both versions
                is not a big issue. That said, use of Python 2.x in the world
                is now dying out.

                 %include templates/parts/footer.html
                
            </div>
        </div>
    </div>

</body>

</html>