<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Section Assignments</div>
      <div class="moment">2020041417</div>
    </div>

    <p>
      Section assignments have been made. Students who filled out the section signup 
      on time should have received an email with details of their section.
    </p>
    <p>
      If your section time no longer works for you or you were unable to sign up for
      a section in time, visit <a href="http://cs198.stanford.edu/cs198/auth/default.aspx" target="_blank">this website</a> 
      or click 'Section Management' in the 
      Section dropdown to join a section. This page will also have a link to a list of 
      all the section times for students wishing to make up a section and auditors.
    </p>
    <p>
      Note that section participation is <b>required</b> for all enrolled students in 
      CS 106A.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">LaIR</div>
      <div class="moment">2020041216</div>
    </div>

    <p>
      The LaIR opens tonight! Check out the <a href="{{pathToRoot}}restricted/zoominfo.html#the-lair">Zoom details 
      page</a> for more details.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Free Online CTL Tutoring</div>
      <div class="moment">2020041017</div>
    </div>

    <p>
      We've been asked to share this message on behalf of the Center 
      for Teaching and Learning:
    </p>

    <p style="padding-left: 10px; border-left: 1px solid lightgray;">
      Want to meet with an experienced peer to discuss course concepts, 
      think through a problem set, or prepare for an upcoming exam? CTL 
      offers appointment tutoring for CS 106A, in addition to tutoring 
      for a number of other courses. For more information and to schedule 
      an appointment, visit our 
      <a target="_blank" href="https://learningconnection.stanford.edu/appointments-and-drop-schedule">
        tutoring appointments and drop-in schedule page</a>. We also have a variety of 
        <a target="_blank" href="https://learningconnection.stanford.edu/remotelearning">remote learning opportunities</a> 
        and 
        <a target="_blank" href="https://learningconnection.stanford.edu/academic-skills-coaching">academic coaching</a>
        available to assist with all of your learning needs!
    </i> </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Section Signups</div>
      <div class="moment">2020040916</div>
    </div>

    <p>
      Section Signups are open! You can sign up for section by 
      going to <a href="http://cs198.stanford.edu">this page</a>, 
      logging in, and clicking the form. Section signups are due 
      on Sunday at 5pm PDT and are not first come first serve. 
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Questions in Lecture</div>
      <div class="moment">2020040915</div>
    </div>

    <p>
      Several students have enquired into the possibility of 
      viewing questions asked in lecture after the live sessions ended. 
      We've exported the Q&A log from the Zoom webinars and have posted 
      the Questions & Answers from <a href="{{pathToRoot}}lectures/1-Welcome/index.html">Lecture 1</a> and 
      <a href="{{pathToRoot}}lectures/2-ControlFlow/index.html">Lecture 2</a> and posted them on their respective lecture pages.
      We'll continue to do so for future lectures. 
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Assignment 1 released</div>
      <div class="moment">2020040815</div>
    </div>

    <p>
      We just released <a href="{{pathToRoot}}assn/karel.html">Assignment 1</a>. It's due
      on <b>April 17th at 1:30pm PDT</b>.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Installing PyCharm</div>
      <div class="moment">2020040622</div>
    </div>

    <p>
      We just posted the <a href="{{pathToRoot}}handouts/installingpycharm.html">PyCharm installation handout</a>.
      We will be using PyCharm for our assignments, so you will need to follow these steps before you are able 
      to work on Assignment 1. 
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Watch the first lecture live!</div>
      <div class="moment">2020040613</div>
    </div>

    <p>
      Go <a href="{{pathToRoot}}restricted/zoominfo.html"><i class="fas fa-video sidebaricon"></i> here</a> to connect to the first class and watch it live. 1:30pm PST! It will be availible later on canvas in case you miss it.
      Office hours also begin today immediately after lecture.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Who are you?</div>
      <div class="moment">2020040111</div>
    </div>

    <p>
      To learn a little bit more about you, we have a very quick assignment #0
      for you to fill out. Find the form <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfeKsiN9eJ-zWBqKUNuTLsm3sGJ6zfsG6v9DNvZPPUnAfnRAg/viewform?usp=sf_link"
        target="_blank"> here </a>.
      This assignment is not a part of your grade, but helps us tailor the class
      according to your needs and preferences. Please fill out the form by
      <b>Friday, April 10th</b> at 3:30pm.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <p class="card-title newsfeedTitle">What is CS106A?</p>
      <div class="moment">2020040514</div>
    </div>

    <p>
      We put together some handouts to help you understand where we are going to go in CS 106A and how we plan to get
      there.
    </p>
    <p>
      The <a href="{{pathToRoot}}handouts/01-general-information.pdf"><i class="fas fa-file "></i> General Information</a> handout has details on
      course logistics. Read this to get a sense for what CS 106A is going to entail.

      The  <a href="{{pathToRoot}}handouts/02-course-placement.pdf"><i class="fas fa-file "></i> Course Placement</a> handout has details on deciding between CS 106A and CS 106B.

      The <a href={{pathToRoot}}handouts/03-honor-code.pdf><i class="fas fa-file "></i> Honor Code</a> handout has details on how the Honor Code
      applies in the context of the work you'll be doing in CS 106A.
    </p>
<!-- 
    <p>
      
    </p> -->

    <p>
      The  <a href="{{pathToRoot}}schedule.html"><i class="fas fa-th-large "></i> Course Schedule</a> page shows you the topics that we are going to cover
      in CS106A. We will also post materials from lecture on the schedule page.

      The   <a href="{{pathToRoot}}oh.html"><i class="fas fa-calendar "></i> Office Hours</a> page has contact information for teaching team and the office
      hour calendar. Office hours will start in week one. <br />
    </p>

    <p>
      Finally, the   <a href={{pathToRoot}}handouts/coursecommunication.html><i class="fas fa-file "></i> Course Communication</a> handout has details
      on where to go when you need help in the class.
    </p>
  </div>
</div>

<div class="card announcement">
  <div class="card-body">
    <div class="newsfeedHeader">
      <div class="newsfeedTitle">Welcome!</div>
      <div class="moment">2020032500</div>
    </div>

    <p>
      Welcome to CS106A! We're gearing up for a fun quarter beginning on Monday, April 6th. Enrolled students should
      read the <a href="{{pathToRoot}}restricted/zoominfo.html"><i class="fas fa-video sidebaricon"></i> Zoom info</a>
      handout for details about how to get on the 1:30pm webinar on the first day of class.
    </p>
    <p>
      Until then, reach out to <a href="mailto:brahm@stanford.edu">Brahm</a>, the Head TA,
      with any questions you have.
    </p>
  </div>
</div>
