<div class="card">
    <div class="reading-body ">
        <ul class="readingList mb-0">    
            
            <li>
                <i class="fas fa-book sidebaricon"></i>
                        <a target="_blank"
                            href="https://compedu.stanford.edu/karel-reader/docs/python/en/intro.html">Karel Reader</a>
            </li>
            <li>
                <i class="fas fa-book sidebaricon"></i>
                <a target="_blank" href="{{pathToRoot}}pythonreader">Python Reader</a>
            </li>
        </ul>
    </div>
  </div>