<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Python Reader</h3>
    </div>

    <ul class="list-unstyled components">
        
        <li>
            <a href="{{pathToLang}}intro">Introduction</a>
        </li>

       <li>
            <a href="{{pathToLang}}style">Style</a>
        </li>

        <li>
            <a href="{{pathToLang}}interpreter">Interpreter</a>
        </li>
        
        <li>
            <a href="{{pathToLang}}variables">Variables</a>
        </li>
        
        <li>
            <a href="{{pathToLang}}print"><code>print</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}input"><code>input</code></a>
        </li>
        
        <li>
            <a href="{{pathToLang}}math">Math and expressions</a>
        </li>
        <li>
            <a href="{{pathToLang}}constants">Constants</a>
        </li>
        <li>
            <a href="{{pathToLang}}random">random</a>
        </li>
        <li>
            <a href="{{pathToLang}}booleans">Booleans</a>
        </li>
        <li>
            <a href="{{pathToLang}}if"><code>if</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}while"><code>while</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}for"><code>for</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}functions">Functions</a>
        </li>

        <li>
            <a href="{{pathToLang}}doctests">DocTests</a>
        </li>
        <li>
            <a href="{{pathToLang}}images">Images</a>
        </li>
        
        <!--<li>
            <a href="{{pathToLang}}if"><code>if</code> and comparisons</a>
        </li>
        <li>
            <a href="{{pathToLang}}booleans">Booleans</a>
        </li>
        <li>
            <a href="{{pathToLang}}while"><code>while</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}for"><code>for</code></a>
        </li>
        <li>
            <a href="{{pathToLang}}functions">Functions</a>
        </li>
        <li>
            <a href="{{pathToLang}}lists">Lists</a>
        </li>
        <li>
            <a href="{{pathToLang}}filereading">File reading</a>
        </li>
        <li>
            <a href="{{pathToLang}}strings">Strings</a>
        </li>
        <li>
            <a href="{{pathToLang}}dicts">Dictionaries</a>
        </li>-->

    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://codeinplace.stanford.edu/course" class="download">Back to Code in Place</a>
        </li>
    </ul>
</nav>